

#slider iframe {
  width: 100%;
  max-width: 1920px;
  max-height:1062px;
  height: 100vh;
/*  margin-right: 43px;*/
  float:left;
}
#strip iframe:last-child{
  margin-right: 0px;
}
.video{
  width:100%;
  max-height:1062px;
  height: 100vh;
}

#strip{
  background: #BEBFB7;
  width: 5775px;
  max-height:1062px;
  height: 100vh;
  position:relative;
  left: 0;/*Чтоб не было рывка при первом нажатии кнопки*/
  transition: all ease 1s; /*Скорость прокрутки*/
  z-index: 2;
}

#strip::after {
  content: "";
  display: block;
  clear: both;
  z-index: 2;
}

#buttons button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
button::hover{
  border: 1px solid black;
}
#arrow-right{

  /*
  /*opacity:0.3;*/
}
#arrow-left{

}
#slider-right{
  margin-left: 10.05%;
}
#slider-left{
  margin-left: 89.17%;
  /* margin-right: 9.58%;
  right:9.58%; */
}
#slider-dots{
  background: red;
  border: 5px solid blue;
}
.slider-dots {
  position: relative;
  display: flex;
  justify-content: center;
  width:100%;
  /* left: 50%;
  transform: translateX(-50%); */

    /* left: 48.18%; */
    /* right: 48.18%; */
    top: 82.65%;
    bottom:17.12%;
    margin-top: -113px;
    z-index: 3;
}
#first-dot{

}
.slider-dots_item{

    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 16px;
    background-color: #F8F6FB;
    border-radius: 50%;



    display: inline-block;
    transition: background-color 0.6s ease;
}

.active{
    background-color: #00A031;
    outline-offset: 10px;
    border: 1px solid #00A031;
  }
  .slider-dots_item:hover {
    background-color: #00A031;
}
