<header>

          <div id="logo">
               <img src="../images/logo.png" alt="альтернативный текст" >
               <h1>UPQODE</h1>
          </div>

          <nav class="nav">

              <ul id="nav-buttons">

                  <li class="nav-buttons-list"><a href="#carousel-main">Home</a></li>
                  <li class="nav-buttons-list"><a href="#">Services</a></li>
                  <li class="nav-buttons-list"><a href="#">Team</a></li>
                  <li class="nav-buttons-list"><a href="#map-nav">Contact Us</a></li>

              </ul>
          </nav>
          <div id="adapt">
              <div class="menu-title"></div>
              <div class="menu-body">
                <ul>
                  <li class="adapt-buttons"><a href="#carousel-main">Home</a></li>
                  <li class="adapt-buttons"><a href="#">Services</a></li>
                  <li class="adapt-buttons"><a href="#">Team</a></li>
                  <li class="adapt-buttons"><a href="#map-nav">Contact Us</a></li>
                </ul>
              </div>
              </div>
</header>
